@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

.img-controller img {
  display: block;
  width: 100%;
  height: auto;
}

.img-controller-inverse img {
  display: block;
  width: auto;
  height: 100%;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
}

h1 {
  font-size: 4rem;
  line-height: 80px;
  letter-spacing: 0.2px;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 30px;
}

h5 {
  font-size: 1.2rem;
  line-height: 24px;
}





